body{ background-color: #f9c5bb;}

img { padding: 10px;
    border: 1px solid black;
    
}

.highlight{
    color: purple;
    background-color: rgb(240, 186, 138);
    padding: 10px;
    margin: 50px;
}

h2 { font-style: italic;}

a:link {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: orange}